
*                                   @Atlas-Rhythm/hive-backend

/src/Hive.FileSystemCdnProvider*/   @Caeden117
/src/Hive.FileSystemRuleProvider/   @Caeden117
/src/Hive.RateLimiting/             @Caeden117

/.github/                           @sc2ad

.editorconfig                       @nike4613

*.targets                           @nike4613
*.props                             @nike4613