
*                                   @Atlas-Rhythm/hive-backend

/.github/                           @sc2ad

.editorconfig                       @nike4613

*.targets                           @nike4613
*.props                             @nike4613